@media (max-width: 1278px) {

	.wrapper {}

	.container {
		max-width: 1280px;
		margin: 0;
	}

	header {
		max-width: 1280px;
	}

	.header__container {

		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		margin: 30px 0px;
		padding: 0 40px;

	}

	.wrapper__our-pets {
		width: 100%;
	}

	.our-pets {
		max-width: 1280px;
	}

	.footer__block-1 {
		margin-right: 10%;
	}

	.footer__block-2 {
		margin-right: 10%;
	}

	.footer__container-img {
		max-width: 300px;

	}

	.footer__container-img img {
		width: 100%;

	}

	.footer__container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.footer {
		display: flex;
		flex-wrap: wrap;
	}

	.footer__container {
		display: flex;
		flex-wrap: wrap;
	}

	.our-pets__conteiner-row-1 {}
}


@media (max-width: 1279px) {
	.our-pets__conteiner-row-1 {
		justify-content: center;
	}

	.our-pets__block:nth-last-child(1),
	.our-pets__block:nth-last-child(2) {
		display: none;
	}

	.our-pets__h3 {
		margin: 79px -2px 29px 0;
	}

	.our-pets__navigation {
		margin-top: 10px;
		margin-bottom: 76px;
	}

	.footer__container {
		padding: 16px 0 0 53px;
	}

	.footer__container-img {
		margin-top: 64px;
	}
}


@media (max-width: 940px) {
	.modal__content {
		max-width: 290px
	}

}

@media (max-width: 810px) {
	.modal__content {
		max-width: 220px
	}
	.modal__img  {
		width: 90%;
		height: auto;
	}

}




@media (max-width: 768px) {
	.header__container {
		padding: 0 30px;
	}

	.our-pets__button-learn-more {}

	.footer__block-2 {
		margin-right: 7.5vw;
	}

	.footer__block-1 {
		margin-right: 5.6vw;
	}

	.footer__block-2 .footer__h3 {
		margin-bottom: 32px;
	}

	.footer__container-img {
		margin-right: 7vw;
	}

}









@media (max-width: 767.98px) {
	.our-pets__navigation {
		margin-top: 10px;
		margin-bottom: 44px;
	}

	.header__nav-link-ul-container {
		position: absolute;
		width: 320px;
		height: 100vh;
		right: -320px;
		top: 0;
		z-index: 2;
		background: #292929;
		visibility: hidden;
		transition: transform .8s, visibility .8s;

	}

	.header__nav-link-ul {
		position: absolute;
		top: 248px;
		right: 38px;
		display: flex;
		gap: 40px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header__nav-link ul li a {
		color: #FAFAFA;
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 160%;
	}

	.header__nav-link-activ::after {
		content: "";
		display: block;
		width: 121px;
		height: 3px;
		background: #F1CDB3;
		margin-top: 5px;
	}

	.header__nav-link ul li {
		margin-right: 0px;
	}


	.header__container-button-menu {
		position: absolute;
		z-index: 5;
		top: 49px;
		right: 20px;
		transition: all .7s;
		background-color: none;
	}

	.header__button-menu {
		width: 30px;
		height: 0px;
		margin: 10px;
		border: 1px solid;
		color: #000000;
		transition: all 1s;
	}
	
	
	
	header.open .header__button-menu {
		border: 1px solid;
		color: #fcfcfc; /* добавить во 2 страницу */
	}
	


header.open .header__container-button-menu {
		transform: rotate(90deg);
	}



	.header.open .header__nav-link-ul-container {
		transform: translateX(-100%);
		visibility: visible;
	}


	.header__logo {}

	.header__container-button-menu {}

	.header__button-menu {
		display: block;
	}

	.header__one-line {
		margin-top: 0px;
	}
}






/* ------------------------------modal-start-768px------------------------------ */

@media (max-width: 768px) {



	.close-my-modal-btn {
		width: 52px;
		height: 52px;
		border: 2px solid #F1CDB3;
		border-radius: 100px;
		position: absolute;
		bottom: 350px;
		right: -43px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #FAFAFA;
	}


	.modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 20;
		background-color: rgba(41, 41, 41, .6);
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;
		transition: opacity .4s, visibility .4s;
		padding: 0 60px;
	}

	.modal.open {
		visibility: visible;
		opacity: 1;
	}

	.modal.open .modal__container {
		transform: scale(1);
	}

	.modal__container {
		max-width: 630px;
		height: 350px;
		z-index: 1;
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
		background-color: #FAFAFA;
		border-radius: 9px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(0);
		transition: transform .9s;

	}

	.modal__img {
		margin-top: 3px;
		width: 350px;
		height: auto;
	}

	.modal__img img {
		width: 350px;
		height: auto;
	}

	.modal__content {
		margin: 9px 10px 37px 11px;
		max-width: 350px;
		display: flex;
		flex-direction: column;

	}

	.modal__content-h3 h3 {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.06em;
		color: #000000;
		margin-bottom: 10px;
	}

	.modal__content-subtitle h4 {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: #000000;
		margin-bottom: 20px;
	}



	.modal__content-text {
		margin-bottom: 20px;
		font-size: 13px;
		margin-left: 1px;
	}

	.modal__content-block-info {}

	.modal__content-block-info span {
		display: block;
		margin-bottom: 5px;
		margin-left: 14px;
		font-family: 'Georgia';
		font-style: normal;
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: #000000;
	}

	.modal__content-block-info span:last-child {
		margin-bottom: 0px;
	}

}

@media (max-width: 690px) {
	.modal__img img {
		width: 265px;
	}
}

@media (max-width: 618px) {
	.modal__img {
		display: none
	}
	.modal__content-subtitle {
		text-align: center;
	}
	.modal__content {
		height: 345px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal__content-h3 {
		margin-top: 34px;
		
	}
	.close-my-modal-btn {
		bottom: 351px;
    right: -29px;
	}

	.modal__container {
		width: 240px;
	}
	.modal {
		padding: 0 40px;
	}

}



/* ------------------------------modal-end-768px------------------------------ */








@media (max-width: 766px) {}


@media (max-width: 659px) {

	.our-pets__block:nth-last-child(3),
	.our-pets__block:nth-last-child(4),
	.our-pets__block:nth-last-child(5) {
		display: none;
	}

	.our-pets__block {
		margin-right: 0px;
	}
}

@media (max-width: 500px) {

	.our-pets__h3,
	.footer__h3 {
		font-size: 28px;
	}

	.our-pets__h3 {
		max-width: 300px;
	}

	.header__container {
		padding: 0 20px;
	}

	.our-pets__h3 {
		margin: 41px -2px 41px 0;
	}

	.footer__block-1 .footer__h3 {
		text-align: center;
	}

	.footer__block-2 .footer__h3 {
		text-align: center;
	}
}

@media (max-width: 380px) {
	.our-pets__button-in-active {
		margin-right: 10px;
	}

	.our-pets__button-active {
		margin-right: 10px;
	}

	.our-pets__button-active button {
		margin-right: 0;
	}

	.footer__container {
		padding: 16px 0 0 0px;
	}

	.footer__block-1 {
		margin-right: 0vw;
	}

	.footer__block-2 {
		margin-right: 0vw;
	}

	.footer__container-img {
		margin-right: 0vw;
	}

	.our-pets__conteiner-row-1 {
		margin-left: 0px;
	}

	.footer__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer__container-img {
		height: 310px;
		margin-top: 41px;
	}


}





@media (max-width: 320px) {

	.our-pets__h3,
	.footer__h3 {
		font-size: 25px;
	}

	.header__container-button-menu {
		margin-right: -1px;
		margin-top: -1px;
	}

	.footer__h3 {
		font-size: 25px;
		text-align: center;
		margin-right: 24px;
	}

	.footer__container {
		padding: 0;
	}

	.footer__block-2 {
		margin: 19px 0 0 -4px;
	}

	.footer__block-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -2px;
		margin-bottom: -6px;
		margin-top: 29px;
	}

	.footer__block-1 .footer__h3 {
		font-size: 25px;
		text-align: center;
		margin-right: 0px;
	}

	.footer__block-2 .footer__h3 {
		margin-left: 24px;
		margin-bottom: 39px;
	}

	.footer__block-2 .footer__content-1 {
		margin-bottom: 44px;
	}

	.footer__block-2 .footer__h3 {
		margin-left: 29px;
		margin-bottom: 39px;
	}

	.footer__container-img img {
		margin: -12px 0 0 -20px;
		width: 259px;

	}

	.footer__container {
		align-items: center;
		margin-left: 0px;
	}

	.footer__container-img {
		height: 257px;
		margin-top: 41px;
	}

	.footer__container-img {
		margin-right: -19px;
	}

}