* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Georgia';
	src: url("../../assets/fonts/georgia.ttf") format("ttf"),
		url("../../assets/fonts/georgia.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}


.wrapper {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;


}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 40px;


}

.header {}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 32px 0;
	max-width: 1200px;
	width: 100%;

}

.header__logo {}

.a-h1 {
	text-decoration: none;
}

h1 {
	margin-bottom: 7px;
	font-size: 32px;
	letter-spacing: 0.06em;
	color: #545454;
	font-weight: 400;
	font-family: 'Georgia';

}

.header__subtitle {
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #292929;
	margin-left: 5px;



}

.header__nav-link {}

.header__nav-link-a {
	color: #545454;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	transition: all 0.3s ease-in-out;
}

.header__nav-link-a:hover {
	font-size: 110%;
}


.header__nav-link li {
	display: inline-block;
}


a {
	text-decoration: none;
}

.header__nav-link:not(.header__nav-link-activ) {
	color: #545454;
	text-decoration: none;
}

.header__nav-link-activ {
	color: #292929;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	text-decoration: none;
}

.header__nav-link ul li {
	margin-right: 32px;

}

.header__nav-link ul li:last-child {
	margin-right: 0;
}


.header__nav-link-activ::after {
	content: "";
	display: block;
	width: 58px;
	height: 3px;
	background: #F1CDB3;
	margin-top: 5px;
}

.header__container-button-menu {}

.header__container-button-menu-icons {
	height: 24px;
	border: 1px solid #000000;
	display: none;
}

.header__button-menu {
	width: 30px;
	margin-bottom: 8px;
	border: 1px solid #000000;
	display: none;
}

/* ---------------our-pets-------------------------- */

.wrapper__our-pets {
	background: #F6F6F6;
	background-size: cover;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.our-pets {

	max-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;


}

.our-pets__h3 {
	width: 400px;
	margin: 77px -2px 60px 0;
	text-align: center;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;

}

.our-pets__conteiner-row-1 {
	display: flex;
	max-width: 1240px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 40px;

}

.our-pets__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FAFAFA;
	border-radius: 9px;
	margin-right: 40px;
	margin-bottom: 30px;

}



.our-pets__block:last-child {
	margin-right: 0;
}

.our-pets__img img {
	min-width: 270px;

	height: auto;
}

.our-pets__img img {
	min-width: 270px;
	width: 100%;
	height: auto;
}

button {
	background-color: #FAFAFA;
}


.our-pets__name {
	margin-top: 26px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: #545454;
}

.our-pets__button-learn-more {
	height: 52px;
	width: 187px;
	margin: 30px 40px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	align-items: center;
	color: #292929;
	letter-spacing: 0.06em;
	background-color: #FAFAFA;
	font-size: 17px;

}

.our-pets__button-learn-more:hover {
	background-color: #bb7212;
	color: white;
}


.our-pets__navigation {
	margin-top: 26px;
	margin-bottom: 104px;
	display: flex;
}

.our-pets__button-in-active {
	margin-right: 20px;
}

.our-pets__button-active button {
	margin-right: 20px;
	background: #F1CDB3;
}

.our-pets__button-in-active:last-child {
	margin-right: 0;
}

.our-pets__button-in-active button {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.our-pets__button-active button {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.our-pets__button-active button:hover {

	color: black;
	text-decoration: none;
}

.our-pets__button button {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.our-pets__navigation img {
	margin-right: 20px;
}

.our-pets__navigation img:last-child {
	margin-right: 0;
}


/* -----------------------------start section "footer" -------------- */
.footer {
	background-image: url("../../assets/images/start-screen-background.jpg");
	background-size: cover;
	max-width: 100%;
	/* padding-top: 30px; */
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer__container {
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 0 0 0;

}

.footer__block-1 {
	height: 234px;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: 0px;
}


.footer__block-2 {
	height: 234px;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: -6px;
	max-width: 298px;
}

.footer__h3 {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-bottom: 41px;
}

.footer__block-1 .footer__h3 {
	margin-bottom: 37px;
}


.footer__block-2 .footer__h3 {
	margin-bottom: 34px;

}

.footer__block-1 .footer__h3 {
	max-width: 280px;
}

.footer__content-info {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	line-height: 115%;
}

.footer__block-2 .footer__content-info {
	max-width: 270px;
}

.footer__content-icon {
	margin-right: 20px;
}

.footer__content-1 {
	margin-bottom: 36px;
	display: flex;
	align-items: center;
	flex-direction: row;

}

.footer__block-1 .footer__content-1 {
	margin-bottom: 41px;
}

.footer__content-2 {
	margin-top: -5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	margin-left: 0px;


}

.footer__content-1-a {
	text-decoration: none;
	display: flex;
	color: #F1CDB3;
	;
}

.footer__content-2-a {
	text-decoration: none;
	display: flex;
	color: #F1CDB3;
}

.footer__container-img {
	max-width: 300px;
	height: 310px;
}








a {
	transition: all 0.3s ease-in-out;
}

h1 {
	transition: all 0.3s ease-in-out;
}

h1:hover {
	color: #cf4607;
	transform: scale;
}


a:not(.a-h1):hover {

	color: rgb(165, 136, 7);
	cursor: pointer;

}

button {
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: #e5bb84;
	color: white;
	cursor: pointer;
}


.our-pets__block:hover button {
	background-color: #e5bb84;
	color: white;

}

.our-pets__block:hover {
	cursor: pointer;
}



/* -----------------------------end of section "footer" -------------- */