* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Georgia';
	src: url("../../assets/fonts/georgia.ttf") format("ttf"),
		url("../../assets/fonts/georgia.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.header {
	background-image: url("../../assets/images/start-screen-background.jpg");
	background-size: cover;
	height: 56.8rem;
	max-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

.a-h1 {
	text-decoration: none;
}

.header__container-main {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.header__container-top {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {

	max-width: 186px;
}

h1 {
	margin-bottom: 10px;
	font-size: 32px;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	font-weight: 400;
	font-family: 'Georgia';
}

.header__subtitle {
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.header__container-button-menu {}

.header__button-menu {
	width: 30px;
	height: 0px;
	border: 2px solid #F1CDB3;
	margin-bottom: 10px;
	display: none;
}

.header__nav-link ul {
	display: flex;
	flex-wrap: nowrap;
}

.header__nav-link {
	max-width: 441px;
}

.header__nav-link li {
	display: inline-block;
}

.header__nav-link a {
	color: #CDCDCD;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	text-decoration: none;
}

.header__nav-link ul li {
	margin-right: 35px;

}

.header__nav-link ul li:last-child {
	margin-right: 0;
}

.header__nav-link-activ {}

.header__nav-link-activ::after {
	content: "";
	display: block;
	max-width: 114px;
	height: 3px;
	background: #F1CDB3;
	margin-top: 5px;
}








.not-only {

	margin: 90px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;


}

.not-only__start-screen-puppy {
	width: 160%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.not-only__start-screen-puppy img {
	max-width: 100%;
	height: auto;
	display: block;


}

.not-only__content {
	transition: width 2s ease-in-out;
	margin-bottom: 85px;
	margin-right: 5vw;


}

.h2__not-only {
	max-width: 310px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: #FFFFFF;
}

.p__not-only-content {
	margin-top: 40px;
	max-width: 93%;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
}

.button-primary {
	width: 207px;
	height: 52px;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F1CDB3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100px;

	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: #292929;
	transition: all 0.3s ease-in-out;
}

.button-primary:hover {
	background-color: #ec9d42b7;
}




/* -----------------------------end of section "not-only" -------------- */












/* -----------------------------start section "about" -------------- */
body {}

.about {
	max-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}


.about__container {
	display: flex;
	justify-content: center;
	margin: 80px 0 100px 0;
}

.about-pets {
	margin-right: 120px;
}

.about__content {
	margin-top: 13px;
}

.about__content-title {
	max-width: 370px;
	color: #545454;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;

}

.about__content-text-1 {
	max-width: 430px;
	margin: 25px 0;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
}

.about__content-text-2 {
	max-width: 430px;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
}

/* -----------------------------end of section "about" -------------- */

/* -----------------------------start section "our-friends" -------------- */

.our-friends {
	background: #F6F6F6;
	max-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;


}

.our-friends-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.h3__our-friends {
	max-width: 400px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	margin: 80px 0 60px 0;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;



}

.our-friends-content {
	display: flex;

}

.our-friends__arrow-left {
	position: relative;
}

.our-friends__icon-block-left {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	position: absolute;
	bottom: 191px;
	left: -105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #FAFAFA;
}

.our-friends__icon-block-right {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	position: absolute;
	bottom: 191px;
	right: -105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #FAFAFA;

}

.our-friends__icon-block img {}

.our-friends__arrow-right {
	position: relative;
}

.our-friends__image-block {
	margin-right: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FAFAFA;
	border-radius: 9px;

}

.our-friends__image-block:hover {
	cursor: pointer;
}

.our-friends__image-block:hover button {
	background-color: #e5bb84;
	color: white;
	cursor: pointer;
}







.our-friends__image-block-last {
	margin-right: 0;
}

.our-friends__image-container {

	max-width: 270px;
	Height: 270px;
	border-radius: 9px 9px 0px 0px;
}



.our-friends__name {
	margin: 30px 0;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;

}

.our-friends__button {
	width: 187px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	margin-bottom: 30px;
	background-color: #fff;

	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
}

.our-friends__button-primary {
	width: 261px;
	height: 52px;
	background: #F1CDB3;
	border-radius: 100px;
	margin: 60px 0 100px 0;
	border-style: none;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s ease-in-out;

}

.our-friends__button-primary-a {
	text-decoration: none;
	color: #292929;
}

.our-friends__button-primary:hover {
	background-color: #ec9d42b7;
	cursor: pointer;
}

/* -----------------------------end of section "our-friends" -------------- */

/* -----------------------------start section "in-addition" -------------- */

.help {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-help {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	max-width: 1200px;
	width: 100%;
}

.help__h3 {
	margin-top: 80px;
	margin-bottom: 57px;
	max-width: 312px;
	height: 90px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}

.help__container-icons {
	display: flex;
	justify-content: center;
	align-content: space-between;
	min-height: 281px;
	max-width: 1026px;
}

.help__content {
	display: flex;
	flex-wrap: wrap;
	min-width: 66vw;
	justify-content: center;
	align-content: space-between;
}

.help__block-icons {
	margin-right: 120px;
	margin-bottom: 49px;
}



.help__block-icons-1 {
	margin-left: 6vw;
}

.help__block-icons-9 {
	margin-right: 0px;
}

.help__row .row-1 {}

.help__block-icon {
	text-align: center;
}

.help__block-icon-name {
	margin-top: 30px;
	text-align: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;

}

/* -----------------------------end of section "in-addition" -------------- */

/* -----------------------------start of section "in-addition" -------------- */

.in-addition {
	background: #F6F6F6;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-addition__content {
	padding: 80px 0 100px 0;
	display: flex;
	justify-content: center;

}

.in-addition__img {
	margin-top: 10px;
	margin-right: 30px;
}

.in-addition__content-info {
	max-width: 380px;
}

.in-addition__h3 {
	max-width: 300px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}

.in-addition__info-bank {
	margin: 20px 0 18px 0;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
}

.in-addition__credit-card {
	max-width: 350px;
	width: 100%;
	background: #F1CDB3;
	border-radius: 9px;
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-addition__credit-card-icon {
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.in-addition__credit-card-number {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
}

.in-addition-1 {
	text-decoration: none;
	color: #545454;
}

.in-addition__credit-card-number-a {
	text-decoration: none;
	color: #545454;
}

.in-addition__end-info {
	margin-top: 20px;
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #B2B2B2;
}

/* -----------------------------end of section "in-addition" -------------- */



/* -----------------------------start section "footer" -------------- */
.footer {
	background-image: url("../../assets/images/start-screen-background.jpg");
	background-size: cover;
	max-width: 100%;
	/* padding-top: 30px; */
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer__container {
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 0 0 0;

}

.footer__block-1 {
	height: 234px;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: 0px;
}


.footer__block-2 {
	height: 234px;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: -6px;
	max-width: 298px;
}

.footer__h3 {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-bottom: 41px;
}

.footer__block-1 .footer__h3 {
	margin-bottom: 37px;
}


.footer__block-2 .footer__h3 {
	margin-bottom: 34px;

}

.footer__block-1 .footer__h3 {
	max-width: 280px;
}

.footer__content-info {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	line-height: 115%;
}

.footer__block-2 .footer__content-info {
	max-width: 270px;
}

.footer__content-icon {
	margin-right: 20px;
}

.footer__content-1 {
	margin-bottom: 36px;
	display: flex;
	align-items: center;
	flex-direction: row;

}

.footer__block-1 .footer__content-1 {
	margin-bottom: 41px;
}

.footer__content-2 {
	margin-top: -5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	margin-left: 0px;


}

.footer__content-1-a {
	text-decoration: none;
	display: flex;
	color: #F1CDB3;
	;
}

.footer__content-2-a {
	text-decoration: none;
	display: flex;
	color: #F1CDB3;
}

.footer__container-img {
	max-width: 300px;
	height: 310px;
}


a {
	transition: all 0.3s ease-in-out;
}


a:not(.a-h1):hover {

	color: rgb(165, 136, 7);
	cursor: pointer;


}

h1 {
	transition: all 0.3s ease-in-out;
}

h1:hover {
	color: #69532a;
	transform: scale;
}

button {
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: #e5bb84;
	color: white;
	cursor: pointer;
}

/* -----------------------------end of section "footer" -------------- */






/* ---------------------------------------"@media" ---------------------------------------------- */